<!DOCTYPE html>
<html>
  <head>
    <title>
      Crossover Store
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.js'])
    <link href="https://cdn.jsdelivr.net/npm/keen-slider@6.8.6/keen-slider.min.css" rel="stylesheet" />
  </head>
  <body>
    @include('components/layouts/partials/header')

    {{{ await $slots.main() }}}
    <!-- Slider main container -->
  </body>
  @include('components/layouts/partials/footer')
</html>
