<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <title>
      Home
    </title>
    <meta name='viewport' content='width=device-width, initial-scale=1' />
    {{-- <link rel='stylesheet' type='text/css' media='screen' href='main.css'> --}}
  </head>
  <body>

    @each(product in products)

      <div>

        <h1>
          {{ product.name }}
        </h1>

        <img src="/products/image/{{ product.id }}" alt="{{ products.name }}" />

        <p>
          Preço: R${{ product.price.toFixed(2) }}
        </p>

        <p>
          {{ product.description }}
        </p>

      </div>

    @end
    
    
  </body>
</html>
