@layouts.app()
  <main>

    <h1>
      {{ product.name }}
    </h1>

    <img src="/products/image/{{ product.id }}" alt="{{ product.name }}" />

    <p>
      {{ product.price.toFixed(2) }}
    </p>

    <p>

      {{ product.description }}
    </p>
  </main>
@end

